@import "tailwindcss";

@keyframes modal-scale-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-modal-scale-in {
  animation: modal-scale-in 0.2s ease-out forwards;
}
